<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>716586E5-9C59-48F5-B133-702E6D121D85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADF1A55C-FD8F-4876-885C-81FADD287706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96620FE4-8A93-4BBA-930F-40A6E07C9C71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4755880B-1DF6-4E7E-B293-E3673F9DA641</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>152B2E36-1511-43E5-A4A6-8549C5C243E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ADF1A55C-FD8F-4876-885C-81FADD287706</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4755880B-1DF6-4E7E-B293-E3673F9DA641</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>152B2E36-1511-43E5-A4A6-8549C5C243E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B37FFC4C-B514-4479-A529-B11EB5DFB995</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96620FE4-8A93-4BBA-930F-40A6E07C9C71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>328</string>
	<key>description</key>
	<string>convert unicode to utf8</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>uto8</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>php uto8.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADF1A55C-FD8F-4876-885C-81FADD287706</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>8tou</string>
				<key>text</key>
				<string>utf8 -&gt; unicode : "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B37FFC4C-B514-4479-A529-B11EB5DFB995</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>unicode_converter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>152B2E36-1511-43E5-A4A6-8549C5C243E1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>php 8tou.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96620FE4-8A93-4BBA-930F-40A6E07C9C71</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4755880B-1DF6-4E7E-B293-E3673F9DA641</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uto8</string>
				<key>text</key>
				<string>unicode -&gt; utf8 : "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>716586E5-9C59-48F5-B133-702E6D121D85</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>152B2E36-1511-43E5-A4A6-8549C5C243E1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4755880B-1DF6-4E7E-B293-E3673F9DA641</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>716586E5-9C59-48F5-B133-702E6D121D85</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>96620FE4-8A93-4BBA-930F-40A6E07C9C71</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>ADF1A55C-FD8F-4876-885C-81FADD287706</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B37FFC4C-B514-4479-A529-B11EB5DFB995</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.328.moe</string>
</dict>
</plist>
